<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeLoan</title>
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=Montserrat:wght@300;400;600;700&display=swap"
        rel="stylesheet">
    <!-- Google Font -->
    <link rel="stylesheet" href="./faq.component.css">
</head>

<body>

    <!-- Header -->
    <header class="header_top">
        <a href="home.component.html"><img src="../../assets/images/logo1.png" alt="HOME LOAN"></a>
        <a href="home.component.html"><h1>HOME LOAN</h1></a>
    </header>
    <nav>
        <ul class="nav_bar">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="../about">About Us</a></li>
            <li><a href="javascript:;">Calculator</a>
                <ul class="first-level-menu">
                    <li><a routerLink="../eligibilitycalculator">Eligibility Calculator</a></li>
                    <li><a routerLink="../emicalculator">Emi Calculator</a></li>
                </ul>
            </li>
            <li><a routerLink="../propertydetails">Application</a></li>
            <li><a routerLink="../loantracker">Loan Tracker</a></li>

            <li><a href="javascript:;">Login</a>
                <ul class="first-level-login">
                    <li><a routerLink="../login">Admin Login</a></li>
                    <li><a routerLink="../ulogin">Customer Login</a></li>
                </ul>
            </li>
            <li><a routerLink="../faq">FAQ</a></li>
        </ul>
    </nav>


    <!-- body -->

    <section class="faq-main">
        <div class="heading-content">
            <h3 class="text-center">Frequently Asked Questions</h3>
        </div>

        <div class="container">

            <h3>Here are a few questions that will answer most of the queries that you may have</h3>
            <ol type="1">
                <h2>1. UNDERSTANDING HOME LOAN ELIGIBILITY</h2>
                <ol type="I">
                    <li><label>When you apply for a home loan, the lender considers</label> </li>
                    <li> Your income and loan repaying capacity to determine loan eligibility</li>
                    <li>Other factors include your age, retirement age, financial position, credit history, credit score
                    </li>

                    <ol type="a">
                        <li> Enhance your borrowing ability by</li>

                        <li>Adding an earning family member as co-applicant.</li>

                        <li>Availing a structured repayment plan.</li>

                        <li> Ensuring a steady income flow, regular savings and investments.</li>

                        <li> Furnishing details of your regular additional income sources.</li>

                        <li> Keeping a record of your variable salary components.</li>

                        <li> Taking actions to rectify errors (if any) in your credit score.</li>

                        <li> Repaying ongoing loans and short terms debts.</li>
                    </ol>
                </ol>


            </ol>
            <br>


            <ol type="1">

                <h2>2. BUYING A HOUSE? WHY SELF-FUND WHEN YOU CAN BORROW </h2>
                <ol type="a">
                    <li><label>Borrowing for your home purchase is an attractive proposition, A home loan is preferable
                            to other loans because of </label></li>




                    <li>lower interest rates</li>
                    <li>added assurance on property documentation</li>
                    <li>it helps in maintaining liquidity for interiors work etc.</li>
                    <li>tax benefits</li>

                </ol>

            </ol>
            <br>

            <ol type="1">

                <h2>3. SIX REASONS TO OPT FOR HOME LOAN REFINANCE?</h2>
                <ol type="a">
                    <li><label> Refinancing your Home Loan makes sense when the new lender</label></li>

                    <li>offers a lower rate of interest</li>
                    <li>offers a higher loan amount</li>
                    <li>permits switch from fixed to floating/adjustable interest rate</li>
                    <li>permits reduction in loan tenure</li>
                    <li>permits reduction in EMI</li>
                    <li>offers better terms and service</li>

                </ol>
            </ol>
            <br>

            <ol type="1">
                <h2>4. HOME LOANS ARE FOR ALL – SALARIED AND SELF-EMPLOYED PEOPLE</h2>
                <ol type="a">
                    <li>Whether you are salaried or self-employed, you can get a home loan</li>
                    <li>Terms for both kinds of applicants are the same</li>
                    <li>Only difference usually is in the set of documents to be submitted for home loan </li>
                    <li>Earnings and creditworthiness are the key factors to determine loan eligibility </li>


                </ol>
            </ol>





        </div>
    </section>



    <!-- Fotter -->
    <footer class="foot-end">
        <p @copyright elv><span>projects &copy;ltd 2021. all rights reserved</span> </p>
        
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>