.navbar
{
    background-color: #fcb106;
}
.navbar-light .navbar-nav .nav-link
{
    color: black;
    font-size: 16px;
}

.navbar-light .navbar-nav .nav-link:hover
{
    text-decoration: underline;
}