<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeLoan</title>
    <link rel="stylesheet" href="link rel=" preconnect href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- Google Font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
<!-- Google Font --> 
<link rel="stylesheet" href="./calculator.component.css">

</head>

<body>

    <!-- Header -->
    <header class="header_top">
        <a href="home.component.html"><img src="../../assets/images/logo1.png" alt="HOME LOAN"></a>
        <a href="home.component.html"><h1>HOME LOAN</h1></a>
    </header>

    <!-- Navigation -->
    <nav>
        <ul class="nav_bar">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="../about">About Us</a></li>
            <li><a href="javascript:;">Calculator</a>
                <ul class="first-level-menu">
                    <li><a routerLink="../eligibilitycalculator">Eligibility Calculator</a></li>
                    <li><a routerLink="../emicalculator">Emi Calculator</a></li>
                </ul>
            </li>
            <li><a routerLink="../propertydetails">Application</a></li>
            <li><a routerLink="../loantracker">Loan Tracker</a></li>

            <li><a routerLink="../login">Login</a></li>
            <li><a routerLink="../faq">FAQ</a></li>
        </ul>
    </nav>

    <div class="main wrapper">
        <div class="container">
            
            <section class="calmain">
                <div class="calcontent">
                    <h2>Calculator</h2>

                    <div class="sub-class">
                        <a routerLink="eligibilitycalculator"><button class="btn-sub">Eligibility
                                Calculator</button></a>
                        <a routerLink="emicalculator"><button class="btn-sub">Emi Calculator</button></a>
                    </div>

                </div>
                <router-outlet></router-outlet>
            </section>

        </div>
    </div>

    <!-- Fotter -->
    <footer class="foot-end">
        <p @copyright elv><span>projects &copy;ltd 2021. all rights reserved</span> </p>
        
    </footer>


</body>

</html>